/* ///////////////////////////////////////////////////// */
/* BODY */
/* ///////////////////////////////////////////////////// */

.body {
  background-color :aliceblue; 
  font-family :"Times New Roman, Times, serif";
}

/* ///////////////////////////////////////////////////// */
/* HEADER */
/* ///////////////////////////////////////////////////// */

.container{
  background-color :whitesmoke; 
  padding-bottom: 15px;
  left: 100px;
  padding-left: 70px;
  margin-right: 0px;

}

.main{
  background-color :aliceblue;

}
  
.navbar-brand{
  color: #ffa3a3;
  margin-top: 40px;
  font-family: "tahoma";
  font-weight: bold;
  font-size: 40px;
  min-height: 80px;
}

.navbar{
  background-color :whitesmoke; 
  border-bottom: 1.5px solid black;
  padding-bottom: 40px;
}


.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

#navbarNav {
  float: right;
}

.nav-link{
  font-family: "tahoma";
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  position: relative;
  display: inline;
  float: right;

}



/* ///////////////////////////////////////////////////// */
/* MAIN */
/* ///////////////////////////////////////////////////// */

p{
  font-family :"tahoma";
}

.center_text{
  text-align: center;
}

.center_cont{
  justify-content: center;
}

.results_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  
}


.results_img2{
  display: block;
  margin-top: 5%;
  margin-bottom: 1.25%;
  margin-left: auto;
  margin-right: auto;
  
}

.results_img3{
  display: block;
  margin-top: 1%;
  margin-bottom: 1.25%;
  margin-left: auto;
  margin-right: auto;
  
}

.image{
  margin-left: 10px;
  padding-top: 30px;
  padding-bottom: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
}
.wrapper {
  display: grid;
  position:relative;
  margin-right: 0px;
  width: 700px;
  height: 250px;
  margin-left: 0px;
  background-color: whitesmoke;
  border: 1.5px solid black;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 180px;

}

.css-typing{
  font-family: "tahoma";
  color:  #9898d4;
  font-weight: bold;
  text-align: center;
  font-size:24px;
}


.card-text{
  font-family :"tahoma";
  font-size: 18px;
  text-align: center;
}
.card-title{
  font-family :"tahoma";
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.card-img-top{
  background-color :whitesmoke
}
.card-body{
  background-color :whitesmoke

}
/* ///////////////////////////////////////////////////// */
/* FOOTER */
/* ///////////////////////////////////////////////////// */

.row3{
  background-color:#eebdbdcb;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}



/* ///////////////////////////////////////////////////// */
/* CHARTS */
/* ///////////////////////////////////////////////////// */



.box{
  border: 1.5px solid black;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family :"tahoma";
  background-color :whitesmoke;
  height: 80px;
  }

  .box2{
    border: 1.5px solid black;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family :"tahoma";
    height: 80px;
    margin-bottom: 20px;
    background-color :whitesmoke;
    }

.chart {
  background-color :aliceblue; 
}
.row2{
  background-color :aliceblue;
  margin-top: 0px;
  padding-top: 50px;

}
.drop{

margin-left: 20px;
}

#btc1{
  margin-top: 50px;
  margin-left:0px;
}

#eth1{
  margin-top: 50px;
  margin-left:0px;
}
#doge1{
  margin-top: 50px;
  margin-left:0px;
}
#btc2{
  margin-right: 90px;
}
#doge2{
  margin-right: 90px;
}
#eth2{
  margin-right: 90px;
}
#btc3{

  margin-left: 0px;
}
#eth3{

  margin-left: 0px;
}
#doge3{

  margin-left: 0px;
}
#btc4{
  margin-right: 120px;
}
#eth4{
  margin-right: 120px;
}
#doge4{
  margin-right: 120px;
}
/*
#btc5{
  margin-left:10px;

}

#btc6{
  margin-right: 80px;
  margin-top:60px;

}
*/
/*
#btc7{
  margin-right:500px;
  margin-top:150px;

}

#eth5{
  margin-left:10px;

}

#eth6{
  margin-right: 80px;
  margin-top:60px;

}

#eth7{
  margin-right:500px;
  margin-top:150px;

}


#doge5{
  margin-left:10px;

}

#doge6{
  margin-right: 80px;
  margin-top:60px;

}

#doge7{
  margin-right:500px;
  margin-top:150px;

}
*/
#btc{
  margin-left:380px;
}
#eth{
  margin-left:380px;
}
#doge{
  margin-left:380px;
}
 

/*////////MEDIA QUERIES/////////
/* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
 
@media only screen and (max-width: 1770px) {
  
  .wrapper{
    height: 330px;
  }
  
}

@media only screen and (max-width: 1630px) {
  
  .wrapper{
    height: 340px;
  }
  
}

@media only screen and (max-width: 1550px) {
  
  .wrapper{
    height: 380px;
  }
  
}
@media only screen and (max-width: 1200px) {

.wrapper{
  height: 460px;
}

.css-typing{
  font-size: 21px;
}
}

@media only screen and (max-width: 1000px) {

  .wrapper{
    height: 310px;
  }
  
} 
